@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    background: black;
    color: #00FF00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

.container {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    white-space: pre-wrap; /* Allows text to wrap automatically */
    word-wrap: break-word; /* Allows breaking words if needed */
}

#ascii-art {
    font-size: 1vw;
    line-height: 1.2em;
    white-space: pre-wrap; /* Allows text to wrap automatically */
    word-wrap: break-word; /* Allows breaking words if needed */
    text-align: left;
    overflow-x: auto; /* Adds horizontal scroll if the content overflows */
    display: none; /* Hide original ASCII art after rendering to image */
}

#ascii-image {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }

    .container {
        padding: 15px 30px;
    }

    #ascii-art {
        font-size: 2vw;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    .container {
        padding: 10px 20px;
    }

    #ascii-art {
        font-size: 3vw;
    }

    #typingText {
        border-right: 1px solid #00FF00;
    }
}